## Chapter-1 - Python Programming

### 1.(a) Hello World

In [1]:
print('Welcome to data science course')

Welcome to data science course

Inference:
- We should put the single quotes for to print any english world.

In [4]:
print("Manoj said, Data science is a one of my favourite course")

Manoj said, Data science is a one of my favourite course

In [10]:
print("""manoj friend said, "data science is very complex subject".""")

manoj friend said, "data science is very complex subject".

In [11]:
print(15)

15

In [12]:
print(15*5)

75

In [13]:
print(15/5)

3.0

In [14]:
print(15+148+67)

230

### 1.(b) Create Variable

In [15]:
DS_Students = 'Manoj', 'Vaibhav', 'Arthi', 'Vennella'

In [16]:
DS_Students

('Manoj', 'Vaibhav', 'Arthi', 'Vennella')

In [17]:
#len function is used for to calucate the number of elements in variable.
len(DS_Students)

4

In [18]:
DS_Students[:]

('Manoj', 'Vaibhav', 'Arthi', 'Vennella')

In [20]:
DS_Students[1:3]#Slicing

('Vaibhav', 'Arthi')

Inference:
- in the part of slicing the last digit always should be n+1

## Chapter-2- Strings and String Methods

### 3 Datatypes in python
**1. Int-Integer**-Only Whole Numbers

**2. Float**- with Decimal points

**3. String**- anything which is enclosed within quotes

### 1. String
- Anything which is encolsed with quotes that's called string.

In [21]:
Assessment_marks = '100'

In [22]:
Assessment_marks

'100'

In [23]:
type(Assessment_marks)

str

In [24]:
Coding_marks = "95"

In [25]:
Coding_marks

'95'

In [26]:
type(Coding_marks)

str

### 2. INT- Interger
- The only whole number

In [27]:
Test_marks = 100

In [28]:
Test_marks

100

In [29]:
type(Test_marks)

int

### 3. Float
- Anything which comes from with decimal point that datatype we called as float.

In [31]:
project_score = 97.5

In [32]:
project_score

97.5

In [33]:
type(project_score)

float

## 2.[b] Concatenation- Indexing- Slicing

In [45]:
first_name = 'Manoj'
last_name = 'LM'
age = 24

In [35]:
type(first_name)

str

In [36]:
type(last_name)

str

In [37]:
first_name, last_name

('Manoj', 'LM')

In [38]:
first_name
last_name

'LM'

In [39]:
print(first_name)
print(last_name)

Manoj
LM

In [40]:
print(first_name, last_name)

Manoj LM

In [44]:
print('FIRST_NAME :' +first_name + ' LAST_NAME :' +last_name)# This we calles as string Concatenation.

FIRST_NAME :Manoj LAST_NAME :LM

In [49]:
print('FIRST_NAME :' + first_name + ' LAST_NAME :' +last_name + ' AGE :' + str(age))# This is Type Casting with concatenation

FIRST_NAME :Manoj LAST_NAME :LM AGE :24

Inference:
- The conversion of one data type into another data type that we called as Type Casting.

In [52]:
print('FIRST_NAME :',first_name, '\nLAST_NAME :',last_name, '\nAGE :',age)

FIRST_NAME : Manoj
LAST_NAME : LM
AGE : 24

In [53]:
print('FIRST_NAME :',first_name, '\nLAST_NAME :',last_name, '\nAGE :',age)

FIRST_NAME : Manoj
LAST_NAME : LM
AGE : 24

## 2.[c] Manipulating String with Methods

**Methods or Functions:** Inorder to do some certain operation on our variable, we go for Methods. And always a method enclosed with ().

In [54]:
learner_1 = 'Amith'
learner_2 = '   Sudha'
learner_3 = 'Abhi      '
learner_4 = '   Manoj   '

In [55]:
print(learner_1)
print(learner_2)
print(learner_3)
print(learner_4)

Amith
   Sudha
Abhi
   Manoj

In [57]:
len(learner_1),len(learner_2),len(learner_3),len(learner_4)

(5, 8, 10, 11)

In [58]:
learner_1.upper()# return a copy of the string converted to Uppercase.

'AMITH'

In [60]:
learner_2.lstrip()# return a copy of the string with removing the space in left side.

'Sudha'

In [61]:
learner_3.rstrip()# return a copy of the string with removing the space in right side.

'Abhi'

In [62]:
learner_4.strip()# return a copy of the string with removing the space in both side of the string

'Manoj'

## 2.[d] Interact with user input

In [63]:
user_input = input('UserName:')

print('Username starts with', user_input[0])

UserName:Manoj
Username starts with M

## 2.[e] Get 2 inputs from the user and print it.

In [64]:
user_input_2 = input('Your god:')
print('Your roll model is',user_input_2)

user_input_3 = input('Your 2nd God:')
print('Your life is',user_input_3)

Your god:Appa and Amma
Your roll model is Appa and Amma
Your 2nd God:Appa Amma
Your life is Appa Amma

## 2.[f] Streamline your print statements.

In [65]:
user_input_2 = input('Your god:')
user_input_3 = input('Your 2nd God:')

print('Your life is : {}\n Your roll model is : {}'.format(user_input_2,user_input_3))

Your god:Appa Amma
Your 2nd God:Appa Amma
Your life is : Appa Amma
 Your roll model is : Appa Amma

## Chapter: 3- Numbers in Python.

In [70]:
user_marks = input('Enter you Marks:')

print('Scored marks:',user_marks)

Enter you Marks:100
Scored marks: 100

In [71]:
type(user_marks)

str

Inference: 
- the datatype of marks showing as a 'str' but it is false.

In [74]:
user_marks1 = int(input('Enter your marks'))

print('Scored marks :',abs(user_marks1))# Python abs() returns the absolute value of any given number.

Enter your marks99
Scored marks : 99

In [75]:
type(user_marks1)

int

Inference:
- See here we used Typecasting for to conversion the datatype str into int.

## Chapter: 4- Functions and Loops.

3types of functions in Python:

1. Built-in Function/Predefined - this function will get installed when we are Anaconda Navigotor.

2. User-defined Function - User given function. Customizable.

3. Anonymous Function - It is a nameless function used to accomplish one task at once.

### 4.[a] Write your Own Function.

In [76]:
# Step 1 : Function defination.
def get_details():
    print('Welcome to our data science session.')
    print('Thank you!!')

In [78]:
# Calling a function.
get_details()

Welcome to our data science session.
Thank you!!

### Positional Argument.

In [79]:
def get_numbers(num1, num2):
    print('Number 1:',num1)
    print('Number 2:',num2)
    print('Function ended')
    return num1*num2# Termination point

In [80]:
get_numbers(25,65)

Number 1: 25
Number 2: 65
Function ended

1625

In [85]:
def get_student_details(student_id, student_name, student_course):
    print('*********************************************************')
    print('Student ID    :', student_id)
    print('Student Name  :', student_name)
    print('Student Course:', student_course)
    print('*********************************************************')

In [86]:
get_student_details(1,'Manoj','Data Science')

*********************************************************
Student ID    : 1
Student Name  : Manoj
Student Course: Data Science
*********************************************************

In [87]:
get_student_details(2,'Avinash','Data Science')

*********************************************************
Student ID    : 2
Student Name  : Avinash
Student Course: Data Science
*********************************************************

### 4.[b] Run in Circles

In [99]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [100]:
for i in range(1,21,1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [101]:
for i in range(2,21,1):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [103]:
for i in range(1,21,1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20